xsd/airline.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Flight">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="FlightNumber" type="xs:unsignedByte" />
                <xs:element name="Aircraft" type="xs:string" />
                <xs:element name="Departure"  type="xs:date"/>
                <xs:element name="Arrival" type="xs:date" />
                <xs:element name="Complains">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="Compain" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Delay"  type = "xs:boolean" />
                <xs:element name="Cancelled" type="xs:string" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


<!-- <xsd:attribute name="Country" type="xsd:NMTOKEN" fixed="US"/> -->
 <!-- <xsd:element name="Flight_perday" type="tns:USAddress" maxOccurs="2"/> -->
 <!-- <xs:element name = "Delay" type = "xs:boolean"/> -->
 <!-- <xs:element name = "TailNumber" type = "xs:hexBinary"/> -->
 <!-- <xs:attribute name = "resource" type = "xs:anyURI"/> -->
 <!-- <xs:attribute name="FlightNumber" type="xs:string" use="required" /> -->
  <!-- <xs:pattern value="[xyz]"/> -->

 <!-- <xs:simpleType>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="120"/>
    </xs:restriction>
  </xs:simpleType> -->


  <!-- <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Audi"/>
      <xs:enumeration value="Golf"/>
      <xs:enumeration value="BMW"/>
    </xs:restriction>
  </xs:simpleType> -->