xsd/temp.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="User">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:unsignedByte" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Surname" type="xs:string" />
              <xs:element name="Email" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="Profile" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


<!-- --------- -->

<!-- 

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="BasicTypes.xsd"/>
    
    <xs:complexType name="UserInfoType">
        <xs:sequence>
            <xs:element name="Id" type="xs:string"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Surname" type="xs:string"/>
            <xs:element name="Email" type="xs:string"/>
            <xs:element name="Country" type="xs:string"/>
            <xs:element name="Profile" type="ProfileValues"/>
        </xs:sequence>
    </xs:complexType>

     <xs:simpleType name="ProfileValues">
        <xs:annotation>
            <xs:documentation>Profile levels that the user can has</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Admin"/>
            <xs:enumeration value="Moderator"/>
            <xs:enumeration value="Normal"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="User" type="UserInfoType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>


 -->